<h1>FizzBuzzword</h1>
<p> Linkedin tips: Don't get too Buzzy. Curb the number of sentences that start with 'I' </p>
<form>
	​<textarea id="txtArea" rows="10" cols="70" placeholder = "text"></textarea>
	<input type = "submit" text= "Submit" id = "submit_btn">
</form>

<div id = "returnedText">

</div>

