<h1>FizzBuzzword</h1>
<p> Linkedin tips: Don't get too Buzzy. Curb the number of sentences that start with 'I' </p>

<button id = "submit_btn"> Allow Linkedin Access</button>


<div id = "returnedText">

</div>