<div class = "row text-center">
	<h1 >FizzBuzzword</h1>
	<button id = "submit_btn"> FizzBuzz my Linkedin </button>
</div>
<div class = "row">
	<h4> Linkedin pro tips <h4>
		<ul>
			<li>Don't get too Buzzy </li>
			<li>Curb the number of sentences that start with 'I' </li>
		</ul>
	<h4> How many Buzzwords do you use? </h4>
	<p> The most commonly used buzzwords on Linkedin in 2014</p>
	<ol>
		<li> Responsible</li>
		<li> Strategic</li>
		<li> Creative</li>
		<li> Effective</li>
		<li> Patient</li>
		<li> Expert</li>
		<li> Organizational</li>
		<li> Driven</li>
		<li> Innovative</li>
		<li> Analytical</li>
	</ol>
</div>